

  header {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    color: rgb(255, 251, 0);
    background-image: linear-gradient(to top, #9a0000, #000000);
    font-size: x-large;
  }

  .container{
    background-image: linear-gradient(to top, #000000, #000000);

  }
  