<main class="container mx-auto px-2 py-28">
    

    <ng-container *ngIf="user; then showLanding else showLoginForm"></ng-container>

    <ng-template #showLanding>
        <div class="flex">
            <h4>Go to the catalogue and catch Pokemon! </h4>
            <a routerLink="/pokemon-catalogue" class="catch-btn"> CATCH POKEMON</a>
        </div>
    </ng-template>

    <ng-template #showLoginForm>
        <div class="flex">
            <div class="w-1/3 flex flex-col">
                <h1 class="p-2 text-6xl font-bold">Catch'em All!</h1>
                <p class="p-4 w-3/4">Welcome to the Pokemon World! Explore the vast world of Pokemons and catch your
                    favorite ones
                    to add to
                    your
                    collection.
                    Discover different species of Pokemons. With each catch, you'll add to your collection and become a
                    Pokemon
                    Master.
                    Sign in to start your journey and keep track of your progress. </p>
                <app-login-form (login)="handleLogin()"></app-login-form>
            </div>
            <div class="w-2/3 float-right flex justify-center">
                <img class="w-2/3 h-full object-scale-down"
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/2.png"
                    alt="pokemon">
    
                <img class="w-2/3 h-full object-scale-down"
                    src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/25.png"
                    alt="pikachu">
    
            </div>
        </div>
    </ng-template>
  
    <ng-template #showLoginForm>

    
/main>