<nav class="nb flex justify-between items-center p-4 sticky top-0 w-full z-50">
    <span class=" font-bold text-6xl"> POKEMONS </span>

    <ng-container *ngIf="user !== undefined">
        <ul class="flex">
            <li class="px-4">
                <a routerLink="/pokemon-catalogue">Pokemons</a>
            </li>
            <li class="px-4">
                <a routerLink="/trainer">Trainer</a>
            </li>
            <li><a *ngIf="user" (click)="handleLogout()" class="nav-link">Logout</a></li>
        </ul>
    </ng-container>

</nav>