.nb {
  background: rgb(119, 119, 119);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 204, 21, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 204, 21, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(250, 204, 21, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#777777",endColorstr="#000000",GradientType=1);
}

.logout-button {
  padding: 9px 15px;
  border: unset;
  border-radius: 15px;
  color: #212121;
  z-index: 1;
  background: #fffcbd;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  transition: all 250ms;
  overflow: hidden;
}

.logout-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  border-radius: 15px;
  background-color: rgba(255, 0, 0, 0.502);
  z-index: 10;
  transition: all 250ms;
}

.logout-button:hover {
  color: #e8e8e8;
}

.logout-button:hover::before {
  width: 100%;
}
