<nav class="nb flex justify-between items-center p-10 sticky top-0 w-full z-10">
    <a class="font-bold text-6xl hover:text-7xl" routerLink="/pokemon-catalogue">POKEMON</a>

    <ng-container *ngIf="user !== undefined">
        <ul class="flex">
            <li class="px-4">
                <a class="text-2xl hover:font-black hover:text-3xl " routerLink="/pokemon-catalogue">Pokemons</a>
            </li>
            <li class="px-4">
                <a class="text-2xl hover:font-black hover:text-3xl" routerLink="/trainer">Trainer</a>
            </li>
            <li><a ngClass="logout-button text-2xl" *ngIf="user" (click)="handleLogout()" class="nav-link">Logout</a>
            </li>
        </ul>
    </ng-container>

</nav>