<nav class="nav-header">

    <div class="container">
        <img src="assets\Pikachu_Logo.png" alt="pikachu">
      </div>

    <ng-container *ngIf="user !== undefined">
        <ul class="flex">
            <li class="px-4">
                <a routerLink="/pokemon-catalogue">Pokemons</a>
            </li>
            <li class="px-4">
                <a routerLink="/trainer">Trainer</a>
            </li>
            <li><a class="px-4" *ngIf="user" (click)="handleLogout()" class="px-4">Logout</a></li>

        </ul>
    </ng-container>

</nav>