header {
    margin-top: 0rem;
  }
  
  .header-info {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  
  h1, h4 {
    padding: 1em;
    color: rgb(243, 234, 234);
    text-align: center;
    background-image: linear-gradient(to top, #ee643a, #f3cf05);
  }
  
  .color-accent {
    color: rgb(243, 42, 15);
    font-size: large;
  }
  
  .catch-btn {
    padding: 1em;
    border: 3px groove red;
    color: white;
    background-color: red;
    cursor: pointer;
    box-shadow: 4px 4px #999;
    white-space: nowrap;
  }
  
  .catch-btn:hover {
    color: black;
  }
  
  .catch-btn:active {
    box-shadow: 3px 3px #666;
    transform: translateY(1px);
  }
  
  .container{
    background-image: linear-gradient(to top, #000000, #000000);

  }