form {
    width: min(90%, 600px);
    margin: 0 auto;
    padding: 3rem;
    background-image: url("src\assets\pikatchu1.png");
    background-position: center;
    background-size: 150%;
  }

  
fieldset {
    color: #580e02;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    margin-top: 11rem;
    padding: 1rem;
    background-color: #a9ffa1;
    background-image: linear-gradient(to bottom, #a1caeb, #e15ded);
    border-radius: 23px;
    font-size: 1.5rem;
    opacity: 0.9;
  }

  form input {
    width: 100%;
    padding: 1em;
    font-size: 1rem;
    border-radius: 23px;
  }
  
  form input:focus {
    border: 5px groove dodgerblue;
    outline: none;
  }
  


  .inline-block {
    width: 80px;
    height: 30px;
    background: #ffffff;
    border-radius: 7px;
    padding: 1px 3px;
    box-shadow: 1px 1px 1px #000000;
    background-image: linear-gradient(to bottom, #9bc4ee, #cd65cd);
    display: block;
    text-align: center;
    opacity: 0.9;
    font-family: arial;
    font-size: 14px;
    line-height: 30px;
  }
  .inline-block:hover {
    background-image: linear-gradient(to bottom, #a3a8c6, #a8c6fd);
  }
  .inline-block:active {
    margin-left: 1px 1px 0;
    box-shadow: -1px -1px 1px #000;
    outline: 1px solid #000000;
    -moz-outline-radius: 7px;
    background-image: linear-gradient(to top, #97e8ae, #3be36b);
  }
  #inline-blockControl:checked + label {
    width: 70px;
    height: 74px;
    line-height: 74px;
  }

  .loader {
    margin-top: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .validation-errors {
    margin: 1rem 0;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 23px;
    background-image: linear-gradient(to bottom, #2b0c09, #d5150a);
    opacity: 0.7;
  }
  
  .validation-error {
    margin: 1rem 0;
    color: #e8e6de;
    padding: 1rem;
        opacity: 0.9;

   
  }
