<form #loginForm="ngForm" (ngSubmit)="loginSubmit(loginForm)">
    <fieldset class="mb-3">
        <label for="username" class="block ">Username</label>
        <input type="text" ngModel #username="ngModel" name="username" id="username"
            class="border border-slate-300 p-2 rounded w-full" placeholder="Johndoe">
    </fieldset>

    <button type="submit"
        class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
        Login</button>

</form>