<ng-container *ngIf="!loading; else loader">

  <ng-container *ngIf="isCaught; then releasePokemon else catchPokemon" class=""></ng-container>

  <ng-template #releasePokemon>
    <button type="button" class="btn is-caught flex text-center " (click)="onCatchClick()"> THROW</button>
  </ng-template>

  <ng-template #catchPokemon>
    <button type="button" class="btn text-center font-bold" (click)="onCatchClick()">CATCH</button>
  </ng-template>

</ng-container>

<ng-template #loader>
  <button type="button" class="btn is-clicked" disabled (click)="onCatchClick()"></button>
</ng-template>