.container{
    background-image: linear-gradient(to top, #000000, #000000);

  }

  h1 {
    padding: 1em;
    text-align: center;
    background-image: linear-gradient(to top, #000000, #9cd128);

  }